@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("../../fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
    font-family: "PatrickHand";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../../fonts/PatrickHand-Regular.ttf") format("truetype");
}

